[Unit]
Description = Start the LED Python script to show botting up 
Before = basic.target
After = local-fs.target sysinit.target
DefaultDependencies = no

[Service]
Type = oneshot
ExecStart = /usr/bin/python3 /usr/local/bin/test.py

[Install]
WantedBy = basic.target